{% extends 'catalog/base_generic.html' %}

{% block title %}
    <title>Local Library - Authors List</title>
{% endblock title %}

{% block content %}
  <h2>Authors List</h2>
    {% if authors %}

      Total Authors: {{ authors.count }}
      <ul>
          {% for author in authors %}
             <li> <a href="{% url 'author-detail' author.id %}">{{ author }} </a>
                 ({{ author.date_of_birth }} - {% if author.date_of_death %} {{ author.date_of_death }} {% endif %}) </li>
          {% endfor %}
      </ul>
    {% endif %}
{% endblock content %}